/* page style */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.item {
    display: inline-block;
}

.list {
    text-align: center;
    list-style: none;
}

/* item style */


.image {
    background-color: lightslategray;
    height:500px;
    width: 400px;
    position: relative
}

.like {
    height: 40px;
    width: 40px;
    background-color: white;
    position:absolute;
    right:0;
    top:20px;
}

.description {
    height: 100px;
    width: 400px;
    display: inline-block;
    background-color: paleturquoise;
}

.labels{
    height: 30px;
    width: 200px;
    color:white;
    position:absolute;
    bottom:50px;
    text-align: left;
}

.label-one{
    height: 30px;
    width: 80px;
    background-color: green;
    color:white;
    position:relative;
    display: inline-block;
    
}

.label-two{
    height: 30px;
    width: 80px;
    background-color: red;
    color:white;
    position:relative;
    display: inline-block;
}