/* page style */
*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.item {
    display: inline-block;
}

.list {
    text-align: center;
    list-style: none;
}


.asset {
    position:relative;
    top:5px;
    text-align: center;
}

/* box */

.image {
    background-color: white;
    height:500px;
    width: 400px;
    position: relative;
    background-size: cover;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom:10px;
}

.image:hover
{
    cursor: pointer;
}
#one{
    background-image: url(../img/1.webp);
}

#two{
    background-image: url(../img/2.webp);
}

#three{
    background-image: url(../img/3.webp);
}

#four{
    background-image: url(../img/4.webp);
}

#five{
    background-image: url(../img/5.webp);
}

#six{
    background-image: url(../img/6.webp);
}

#one:hover{
    background-image: url(../img/1b.webp);
    cursor: pointer;
}

#two:hover{
    background-image: url(../img/2b.webp);
}

#three:hover{
    background-image: url(../img/3b.webp);
}

#four:hover{
    background-image: url(../img/4b.webp);
}

#five:hover{
    background-image: url(../img/5b.webp);
}

#six:hover{
    background-image: url(../img/6b.webp);
}

.description {
    height: 0px;
    width: 400px;
    display: inline-block;
    background-color: white;
    text-align: left;
}

.like {
    height: 40px;
    width: 40px;
    background-color: white;
    position:absolute;
    right:0;
    top:20px;
    font-size: 24px;
}

.like:hover {
    color:red;
    cursor:pointer;
}

.labels{
    height: 30px;
    width: 200px;
    color:white;
    position:absolute;
    bottom:30px;
    text-align: left;
}

.label-one{
    font-size: 10px;
    height: 20px;
    width: 40px;
    background-color: red;
    color:white;
    position:relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;   
}

.label-two{
    font-size: 10px;
    height: 20px;
    width: 70px;
    background-color:seagreen;
    color:white;
    position:relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.brand{
    font-size: 15px;
}

.name{
    text-transform: uppercase;
}

.price{
    display: inline-block;
    color:red;
    font-size: 15px;
}

.discount{
display: inline-block;
}